#competention > div > div {
    background-image:url('./photo_1.jpg');
    background-repeat: no-repeat;
    padding-left: 58px;
    background-size: 125px;
    padding-bottom: 20px;
    background-position: 3100px 10px;
    

}
.t1 {
    color:grey;
    padding-top: 30px;
}
.i1{
    margin-left: 10px;
    padding-left: 10px;
}
/* Мобильная версия */
@media (max-width: 991px) {
    #competention .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    #competention .col-6 {
        flex: 0 0 48%; /* 2 колонки */
        margin: 1%;
    }
}
