#competention > div > div {
    background-image:url('./photo_1.jpg');
    background-repeat: no-repeat;
    padding-left: 58px;
    background-size: 125px;
    padding-bottom: 20px;
    background-position: 0 10px;

}
.t1 {
    color:grey;
    padding-top: 30px;
/* Мобильная версия */
@media (max-width: 991px) {
    #competention .row {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 колонки */
        gap: 15px;
        margin-top: 20px; /* отступ от розовой части */
    }
    
    #competention .col-6 {
        width: 100%;
    }
    
    /* Убедитесь что розовая часть выше */
    .mobile-pink-image {
        margin-bottom: 0;
    }
}
